body {
  font-family: "Barlow", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #333;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  color: #00664f;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
}

h2 {
  color: #00664f;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

form {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  max-width: 480px;
  width: 100%;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
